<div class="container" data-aos="zoom-in" data-aos-delay="100">
    <h1>Jhon Jairo Báez Quintero</h1>
    <div class="social-links">
      <a href="https://wa.me/+573115587894" class="whatsapp" target="_blank"><i class="bx bxl-whatsapp"></i></a>
      <a href="https://www.linkedin.com/in/jhonbaez11/" class="linkedin" target="_blank"><i class="bx bxl-linkedin"></i></a>
      <a href="https://github.com/Jhonbaez11" class="github" target="_blank"><i class="bx bxl-github"></i></a>
    </div>
    <p><span class="typed" data-typed-items="'Desarrollador Frontend', 'Desarrollador Backend'"></span></p>
</div>  